/android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/release/R.jar filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/debug/flutter_assets/assets/images/bg1.jpg filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/debug/flutter_assets/assets/padayonmusic.mp3 filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/debug/flutter_assets/fonts/MaterialIcons-Regular.otf filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/debug/flutter_assets/kernel_blob.bin filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/debug/flutter_build.d filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/arm64-v8a/app.so filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/armeabi-v7a/app.so filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/flutter_assets/assets/images/bg1.jpg filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/flutter_assets/assets/padayonmusic.mp3 filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/flutter_build.d filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/libs.jar filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/flutter/release/x86_64/app.so filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/incremental/mergeReleaseResources/merger.xml filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/images/bg1.jpg filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/padayonmusic.mp3 filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/debug/out/flutter_assets/fonts/MaterialIcons-Regular.otf filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/debug/out/flutter_assets/isolate_snapshot_data filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/debug/out/org/threeten/bp/TZDB.dat filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/release/out/flutter_assets/assets/images/bg1.jpg filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/release/out/flutter_assets/assets/padayonmusic.mp3 filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/release/out/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_assets/release/out/org/threeten/bp/TZDB.dat filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/release.json filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/processed_res/debug/out/resources-debug.ap_ filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/processed_res/release/out/resources-arm64-v8aRelease.ap_ filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/processed_res/release/out/resources-armeabi-v7aRelease.ap_ filter=lfs diff=lfs merge=lfs -text
/android/app/build/intermediates/processed_res/release/out/resources-x86_64Release.ap_ filter=lfs diff=lfs merge=lfs -text
/android/app/build/outputs/apk/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
/android/app/build/outputs/apk/release/app-arm64-v8a-release.apk filter=lfs diff=lfs merge=lfs -text
/android/app/build/outputs/apk/release/app-armeabi-v7a-release.apk filter=lfs diff=lfs merge=lfs -text
/android/app/build/outputs/apk/release/app-release.apk filter=lfs diff=lfs merge=lfs -text
/android/app/build/outputs/apk/release/app-x86_64-release.apk filter=lfs diff=lfs merge=lfs -text
/assets/images/bg1.jpg filter=lfs diff=lfs merge=lfs -text
/assets/padayonmusic.mp3 filter=lfs diff=lfs merge=lfs -text
